@import url('./css/catppuccin.css');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240, 21%, 12%;

    --card: 0 0% 100%;
    --card-foreground: 240, 21%, 12%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240, 21%, 12%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 240, 21%, 12%;
 
    --radius: 0.5rem;

    --theme-accent: #f38ba8;
  }
 
  .dark {
    --background: 240, 21%, 15%;
    --foreground: 210 40% 98%;
 
    --card: 240, 21%, 12%;
    --card-foreground: 210 40% 98%;
 
    --popover: 240, 21%, 12%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 240, 23%, 9%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --sidebar-size: 225px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html{
  overflow: hidden;
  border-radius: 25px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #1e1e2e;
  overflow: auto;
  display: flex;
}


.sidebar{
  width: var(--sidebar-size);
  background: #181825;
  height: 100dvh;
  position: relative;
}

.sidebar .header{
  width: 100%;
  height: 40px;
  display: flex;
  gap: 10px;
  padding: 15px 10px;
}

.sidebar .header .buttons{
  display: flex;
  gap: 5px;
}

.sidebar .header .buttons > div {
  width: 12px;
  height: 12px;
  border-radius: 15px;
  cursor: pointer;
}

.sidebar .header .buttons .red{
  background-color: #f38ba8;
}

.sidebar .header .buttons .yellow{
  background-color: #f9e2af;
}

.sidebar .header .buttons .green{
  background-color: #a6e3a1;
}

.sidebar .header .title {
  font-size: 14px;
  line-height: 12px;
  font-weight: 700;
}

.headerbar {
  height: 40px;
  width: 100%;
  background: #181825;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
}

.headerbar .icon {
  width: 24px;
}

.searchbar{
  height: 40px;
  width: 100%;
  display: flex;
  gap: 5px;
}

.searchbar .icon{
  margin-top: 10px;
}

.searchbar input{
  background-color: transparent;
  height: 100%;
}

.headerbar > .searchbar {
  margin-top: -10px;
}

input:focus{
  outline: 0;
}

body > main {
  width: calc(100% - var(--sidebar-size));
  height: 100dvh;
  overflow: auto;
  /* background-image: url(/icon.grey.svg); */
  background-size: 25% 25%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

body > main > .main {
  box-sizing: border-box;
  padding: 20px;
}

.badge{
  font-size: 12px;
  font-weight: bolder;
}

.drip-wrapper {
  position: absolute;
  top: 100%;
  width: 100%;
  aspect-ratio: 2.09;
  /* background-color: red; */
}

.drip-clip-svg {
  width: 100%;
  height: 100%;
  display: block;
  fill: #181825b3;
}

.cryoli-logo{
  fill: #f38ba8;
}

.height-very-long{
  height: 1000px;
}

.slate-nav-group .slate-nav-item:nth-child(1)::after{
  content: "";
  display: block;
  position: absolute;
  width: 80%;
  height: 1px;
  border-right: 150px solid var(--ctp-mocha-red);
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  bottom: 0;
  right: 0;
}
.slate-nav-group .slate-nav-item:nth-child(2)::after{
  content: "";
  display: block;
  position: absolute;
  width: 80%;
  height: 1px;
  border-left: 150px solid var(--ctp-mocha-red);
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  bottom: 0;
  left: 0;
}
.slate-nav-group .slate-nav-item:nth-child(3)::after{
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  border-bottom: 40px solid var(--ctp-mocha-red);
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  top: -100%;
  right: 0;
}
.slate-nav-group .slate-nav-item:nth-child(4)::after{
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  border-top: 40px solid var(--ctp-mocha-red);
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  top: 0;
  left: -2px;
}





/* 3D animation */

.scene {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform-style: preserve-3d;
  width: 140px;
  height: 140px;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation: spin 10s infinite linear;
          animation: spin 10s infinite linear;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.rotate {
  transform: translateZ(0) rotateX(55deg) rotateY(0deg) rotateZ(45deg);
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  transition: none !important;
}

.shape {
  cursor: inherit;
  transform-style: preserve-3d;
  width: 140px;
  height: 140px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shape--1 .cubes {
  -webkit-animation: anim-1 2.4s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
          animation: anim-1 2.4s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
}
.shape--2 .cubes {
  -webkit-animation: anim-2 2.4s linear infinite forwards;
          animation: anim-2 2.4s linear infinite forwards;
}
.shape--3 .cubes {
  -webkit-animation: anim-3 2.4s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
          animation: anim-3 2.4s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
}
.shape--shadow {
  display: none;
  font-size: 0;
  transform: translateY(100px);
}
.shape--shadow .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c9d6d6;
  border-radius: 2px;
  opacity: 0.5;
  transform: scale(1.5);
}
.shape--shadow .shadow:before, .shape--shadow .shadow:after {
  z-index: -1;
  display: block;
  position: absolute;
  border-radius: 1rem;
  box-shadow: 0 0 2rem #c9d6d6;
}
.shape--shadow .shadow:before {
  bottom: -1rem;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 2rem;
}
.shape--shadow .shadow:after {
  bottom: -1rem;
  bottom: 0;
  right: 0;
  width: 2rem;
  height: 90%;
}
.shape.size-1 .cubes {
  width: 20px;
  height: 20px;
}
.shape.size-2 .cubes {
  width: 60px;
  height: 60px;
}
.shape.size-3 .cubes {
  width: 100px;
  height: 100px;
}
.shape.size-4 .cubes {
  width: 140px;
  height: 140px;
}

.cubes {
  cursor: inherit;
  transform-style: preserve-3d;
  width: inherit;
  height: inherit;
  position: relative;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.cube {
  position: absolute;
  width: 20px;
  height: 20px;
  max-width: 100%;
  max-height: 100%;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.cube > .side {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: white;
  font-size: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cube > .back {
  background: #4D4D4A;
  transform: translateZ(-10px) rotateY(180deg);
}
.cube > .right {
  background: #151617;
  transform: rotateY(-270deg) translateX(10px);
  transform-origin: top right;
}
.cube > .left {
  background: #151617;
  transform: rotateY(270deg) translateX(-10px);
  transform-origin: center left;
}
.cube > .top {
  background: #191A1A;
  transform: rotateX(90deg) translateY(-10px);
  transform-origin: top center;
}
.cube > .down,
.cube > .bottom {
  background: #191A1A;
  transform: rotateX(-90deg) translateY(10px);
  transform-origin: bottom center;
}
.cube > .front {
  background: #4D4D4A;
  transform: translateZ(10px);
}
.cube--1 {
  top: 0;
  left: 0;
  width: 140px;
}
.cube--1 > .front,
.cube--1 > .down,
.cube--1 > .top,
.cube--1 > .back {
  width: 140px;
}
.cube--2 {
  bottom: 0;
  left: 0;
  height: 140px;
}
.cube--2 > .front,
.cube--2 > .right,
.cube--2 > .left,
.cube--2 > .back {
  height: 140px;
}
.cube--3 {
  top: 0;
  right: 0;
  height: 140px;
}
.cube--3 > .front,
.cube--3 > .right,
.cube--3 > .left,
.cube--3 > .back {
  height: 140px;
}
.cube--4 {
  bottom: 0;
  right: 0;
  width: 140px;
}
.cube--4 > .front,
.cube--4 > .down,
.cube--4 > .top,
.cube--4 > .back {
  width: 140px;
}


@-webkit-keyframes spin {
  to {
    transform: rotateY(1turn) rotateX(0turn);
  }
}

@keyframes spin {
  to {
    transform: rotateY(1turn) rotateX(0turn);
  }
}
@-webkit-keyframes anim-1 {
  /* To make the animations more similar to the video I could use linear easing and a lot of frames.

  The css keyframes approach has limitations. Each easing starts and stops per each frame definition. I would like an easing to last for the whole keyframe definition.

  I experimented with JS anim, but the width and height changes work best with css-transition. DOM value changes multiple times per second is laggish for width and height animation */
  0%, 100% {
    width: 100px;
    height: 100px;
    transform: translateY(40px);
  }
  25% {
    width: 90px;
    height: 90px;
    transform: translateY(-40px);
  }
  40% {
    width: 20px;
    height: 20px;
    transform: translateY(-40px);
  }
  70% {
    width: 24px;
    height: 24px;
    transform: translateY(0px);
  }
  89% {
    width: 60px;
    height: 60px;
    transform: translateY(20px);
  }
}
@keyframes anim-1 {
  /* To make the animations more similar to the video I could use linear easing and a lot of frames.

  The css keyframes approach has limitations. Each easing starts and stops per each frame definition. I would like an easing to last for the whole keyframe definition.

  I experimented with JS anim, but the width and height changes work best with css-transition. DOM value changes multiple times per second is laggish for width and height animation */
  0%, 100% {
    width: 100px;
    height: 100px;
    transform: translateY(40px);
  }
  25% {
    width: 90px;
    height: 90px;
    transform: translateY(-40px);
  }
  40% {
    width: 20px;
    height: 20px;
    transform: translateY(-40px);
  }
  70% {
    width: 24px;
    height: 24px;
    transform: translateY(0px);
  }
  89% {
    width: 60px;
    height: 60px;
    transform: translateY(20px);
  }
}
@-webkit-keyframes anim-2 {
  0%, 100% {
    width: 60px;
    height: 60px;
    transform: translateY(0);
  }
  25% {
    width: 60px;
    height: 60px;
    transform: translateY(0);
  }
  60% {
    width: 66px;
    height: 66px;
    transform: translateY(40px);
  }
  88% {
    width: 100px;
    height: 100px;
    transform: translateY(60px);
  }
}
@keyframes anim-2 {
  0%, 100% {
    width: 60px;
    height: 60px;
    transform: translateY(0);
  }
  25% {
    width: 60px;
    height: 60px;
    transform: translateY(0);
  }
  60% {
    width: 66px;
    height: 66px;
    transform: translateY(40px);
  }
  88% {
    width: 100px;
    height: 100px;
    transform: translateY(60px);
  }
}
@-webkit-keyframes anim-3 {
  0%, 100% {
    width: 20px;
    height: 20px;
    transform: translateY(-40px);
  }
  25% {
    width: 24px;
    height: 24px;
    transform: translateY(40px);
  }
  35% {
    width: 140px;
    height: 140px;
    transform: translateY(40px);
  }
  78% {
    width: 112px;
    height: 112px;
    transform: translateY(-40px);
  }
}
@keyframes anim-3 {
  0%, 100% {
    width: 20px;
    height: 20px;
    transform: translateY(-40px);
  }
  25% {
    width: 24px;
    height: 24px;
    transform: translateY(40px);
  }
  35% {
    width: 140px;
    height: 140px;
    transform: translateY(40px);
  }
  78% {
    width: 112px;
    height: 112px;
    transform: translateY(-40px);
  }
}


.laptop3d {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(80deg) rotateZ(-45deg);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.laptop3d .base {
  position: relative;
  width: 260px;
  height: 173.33px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/750152/out.png"), linear-gradient(to bottom right, #fbfbfc, #a8a8ad);
  background-size: cover;
  background-repeat: no-repeat;
}

.laptop3d .base::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 173.33px;
  height: 8px;
  background: linear-gradient(to left, #ededf2, #babbc0);
  border-radius: 0 0 0 4px;
  transform-origin: top left;
  transform: rotateZ(90deg) rotateX(-90deg) rotateY(0);
  transition: transform 1s;
}

.laptop3d .base .front {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 8px;
  background: linear-gradient(to bottom right, #c3c4c9, #a8a8ad);
  transform-origin: top;
  transform: translateY(173.33px) rotateX(-90deg);
}

.laptop3d .base::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 173.33px;
  height: 8px;
  background: linear-gradient(to right, #ededf2, #babbc0);
  border-radius: 0 0 4px 0;
  transform-origin: top left;
  transform: translateY(173.33px) translateX(260px) rotateX(-90deg) rotateY(90deg);
}

.laptop3d .lid {
  transform-origin: 0 173.33px;
  transform: translateY(-346.66px) rotateX(-90deg);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.laptop3d .lid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 6px;
  background: linear-gradient(to bottom right, #c3c4c9, #a8a8ad);
  transform-origin: top;
  transform: rotateX(-90deg);
}

.laptop3d .lid::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 173.33px;
  height: 6px;
  background: linear-gradient(to left, #fbfbfc, #babbc0);
  transform-origin: top right;
  transform: rotateX(-90deg) rotateY(90deg);
}

.laptop3d .lid .front {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 173.33px;
  background: black;
  border: 2px solid;
  border-image: linear-gradient(to bottom right, #c3c4c9, #a8a8ad) 1;
  transform-style: preserve-3d;
}

.laptop3d .lid .front .screen {
  position: absolute;
  background: #333;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 10.5px;
}

.laptop3d .lid .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 173.33px;
  background: linear-gradient(to top right, #fbfbfc, #a8a8ad);
  transform: translateZ(-6px);
  transform-style: preserve-3d;
}

.laptop3d .lid .back::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 173.33px;
  height: 6px;
  background: linear-gradient(to right, #fbfbfc, #babbc0);
  transform-origin: top left;
  transform: rotateX(90deg) rotateY(90deg);
}

.laptop3d.close {
  transform: translate(-50%, -50%) rotateX(80deg) rotateZ(45deg);
}

.laptop3d.close .lid {
  transform: translateY(-346.66px) rotateX(-180deg);
}
